{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
  <a href="{% url 'subreddit_create_view' %}">Create Subreddits</a>
{% endif %}
<h1>Welcome {{request.user }} to Not Quite Reddit</h1>
<br>
<h1>Subreddits</h1>
{% for sub in object_list %}
  <div class="well well-sm">
    <h4><a href="{% url 'subreddit_detail_view' sub.id %}">nqr/{{ sub }} <span class="badge">{{ sub.current_count }}</span></a></h4>
    <h5>{{ sub.description }}</h5>
  </div>
<br>
{% endfor %}
{% endblock %}
